SANDBOX_BASE_URL=https://rebana.canang.com.my/rebana-license
SANDBOX_CLIENT_ID=rebana-license-sandbox-client
SANDBOX_CLIENT_SECRET=
SANDBOX_USERNAME=license-sandbox
SANDBOX_PASSWORD=
# Browser key: restrict by HTTP referrer and Maps JavaScript API.
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=
